/* 
MAIN COLOR 
#099268 

GREY COLOR 
#343a40 #495057
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  height: 100vh;
}

.container {
  width: 800px !important;
  margin: 50px auto;
  padding: 30px 30px 5px 30px !important;
  box-shadow: 0 2px 20px 0 rgba(110, 130, 208, 0.18);
}

.heading {
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700 !important;
  padding-left: 15px !important;
  color: #087f5b !important;
  display: inline-block;
  margin-bottom: 40px;
}

.accordion-item,
.accordion-header {
  background-color: transparent !important;
  border: none !important;
  padding: 0 imo !important;
  margin-bottom: 28px;
}

.accordion-item {
  box-shadow: 0 2px 20px 0 rgba(110, 130, 208, 0.18);
}

.accordion-button {
  width: 100%;
  height: 60px;
  background: none !important;
  color: #087f5b !important;
  font-size: 20px !important;
  padding-left: 15px !important;
  font-weight: 700 !important;
  text-align: left !important;
  text-decoration: none !important;
}

.collapsed {
  color: #000 !important;
}

.accordion-body {
  background: #e8eeff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 17px !important;
}

.accordion-button:before .collapsed {
  content: "" !important;
}

.accordion-button:before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  background: #fff;
  z-index: 1;
  transform: rotate(45deg);
  left: 30px;
  top: 49px;
}

.accordion-button .open {
  border-top: 5px solid #087f5b;
}

.bottom-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #087f5b;
}
